<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.scoppelletti.spaceship.cognito">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:supportsRtl="true">
        <activity android:name=".app.NewPasswordActivity"
            android:label="@string/app_name" />
        <activity android:name=".app.ResetPasswordActivity"
            android:label="@string/it_scoppelletti_cmd_resetPassword" />
    </application>
</manifest>
