<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.scoppelletti.spaceship.html.sample"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/it_scoppelletti_theme_app">
        <activity-alias android:label="@string/app_name"
            android:name="it.scoppelletti.spaceship.html.sample.MainActivity"
            android:targetActivity="it.scoppelletti.spaceship.html.app.HtmlViewerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="it.scoppelletti.spaceship.html.text"
                    android:resource="@string/html_text" />
        </activity-alias>
    </application>
</manifest>
